:root {
  --light-primary: rgb(221, 240, 252);
  --light-secondary: rgb(31, 37, 41);
  --light-text: rgb(31, 37, 41);
  --light-button: rgb(140, 166, 185);

  --dark-primary: rgb(26, 32, 44);
  --dark-secondary: rgb(113, 128, 150);
  --dark-text: rgb(237, 242, 247);
  --dark-button: rgb(76, 86, 106);

  --strawberry-primary: rgb(255, 227, 224);
  --strawberry-secondary: rgb(213, 63, 63);
  --strawberry-text: rgb(74, 31, 31);
  --strawberry-button: rgb(245, 101, 101);

  --peaches-primary: rgb(255, 245, 230);
  --peaches-secondary: rgb(214, 158, 46);
  --peaches-text: rgb(92, 70, 50);
  --peaches-button: rgb(246, 173, 85);

  font: 'Alan Sans'
}


.title {
  margin: 2%;
  text-align: center;
  font-size: 2.986rem;
}

body, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
    background-color: var(--primary);
    color: var(--text);
}

.light {
  --primary: var(--light-primary);
  --secondary: var(--light-secondary);
  --text: var(--light-text);
  --button: var(--light-button);
}

.dark {
  --primary: var(--dark-primary);
  --secondary: var(--dark-secondary);
  --text: var(--dark-text);
  --button: var(--dark-button);
}
.strawberry {
  --primary: var(--strawberry-primary);
  --secondary: var(--strawberry-secondary);
  --text: var(--strawberry-text);
  --button: var(--strawberry-button);
}
.peaches {
  --primary: var(--peaches-primary);
  --secondary: var(--peaches-secondary);
  --text: var(--peaches-text);
  --button: var(--peaches-button);
}

button {
  padding: 12px 20px;
  color: var(--text);
  border-radius: 8px;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px var(--secondary);
}
.game {
  border: 4px solid var(--secondary);
  border-radius: 12px;
  margin: 0 auto;
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  overflow: hidden;
}
.pet__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.pet__status {
  display: flex;
  gap: 9%;
  white-space: nowrap;
}
.pet__bottom {
  display: flex;
  white-space: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.pet__buttons {
  display: flex;
  gap: 10px; 
  /* normally id use % but that moves the 2nd button out of the container */
  /* % keeps the 1st button where it is and moves the 2nd */ 
  white-space: nowrap;
  margin-right: 5px;
}
.pet {
  margin: auto;
}

.themes {
  display: flex;
  align-items: center;
}

.theme__options {
  display: flex;
  justify-content: center; 
  gap: 1%;              
  flex-grow: 1;
  width: 100%;
}
.themes h2 {
  font-size: 2.488rem;
  margin-left: 1%;
  font-weight: 300;
  position: absolute;
}

.feed {
  position: fixed;
  z-index: 10;
  top: 50%;                      
  left: 50%;                     
  transform: translate(-50%, -50%); 
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  align-items: center;
  flex-direction: column;
  border: 4px solid var(--secondary);
  border-radius: 12px;
  
}
.leave {
  background-color: var(--button);
  width: 5%;
  height: 8%;
  color: var(--text);
  margin-left: 95%;
}

.move {
  background-color: var(--button);
  width: 100%;
  height: 20%;
}
.move button {
  border: none;
  width: 20%;
  height: 80%;
  background: 0;
}
.feed__pet {
  position: absolute;
}
.food {
  width: 5%;
  position: absolute;
}
@media screen and (max-width: 600px) {
  .game {
    width: 80%;
  }
  .pet__bottom {
    width: 100px !important;
  }
  .pet__status {
    gap: 2%;
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  .game {
    width: 90%;
  }
  .pet__bottom {
    width: 100px !important;
  }
  .pet__status {
    gap: 2%;
    width: 100px;
  }
}