:root {
  --light-primary: #ddf0fc;
  --light-secondary: #1f2529;
  --light-text: #1f2529;

  --dark-primary: #2b3236;
  --dark-secondary: #cde2f0;
  --dark-text: #cde2f0;

  --strawberry-primary: #ff9d8b;
  --strawberry-secondary: #07410e; 
  --strawberry-text: #293126;
  
  --peaches-primary: #f6d992;
  --peaches-secondary: #174708;
  --peaches-text:  #333333;
  font-family: "Alan Sans";
}

.title {
  margin: 2%;
  text-align: center;
  font-size: 2.986rem;
}

body, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
    background-color: var(--primary);
    color: var(--text);
}

.light {
  --primary: var(--light-primary);
  --secondary: var(--light-secondary);
  --text: var(--light-text);
}

.dark {
  --primary: var(--dark-primary);
  --secondary: var(--dark-secondary);
  --text: var(--dark-text);
}
.strawberry {
  --primary: var(--strawberry-primary);
  --secondary: var(--strawberry-secondary);
  --text: var(--strawberry-text);
}
.peaches {
  --primary: var(--peaches-primary);
  --secondary: var(--peaches-secondary);
  --text: var(--peaches-text);
}

button {
  padding: 0;
  background: none;
  color: var(--text);
  border: 0px;
  border-radius: 8px;
}

button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px var();
}
.game {
  border: 4px solid var(--secondary);
  border-radius: 8px;
  margin: 0 auto;
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
.pet__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.pet__status {
  display: flex;
  gap: 9%;
  white-space: nowrap;
}
.pet__bottom {
  display: flex;
  white-space: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.pet__buttons {
  display: flex;
  gap: 10px; 
  /* normally id use % but that moves the 2nd button out of the container */
  /* % keeps the 1st button where it is and moves the 2nd */ 
  white-space: nowrap;
  margin-right: 5px;
}
.pet {
  margin: auto;
}

.themes {
  display: flex;
  align-items: center;
}

.theme__options {
  display: flex;
  justify-content: center; 
  gap: 1%;              
  flex-grow: 1;
  width: 100%;
}
.themes h2 {
  font-size: 2.488rem;
  margin-left: 1%;
  font-weight: 300;
  position: absolute;
}

.feed {
  position: fixed;
  z-index: 10;
  top: 50%;                      
  left: 50%;                     
  transform: translate(-50%, -50%); 
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #333333;
  
}
.leave {
  background-color: var(--secondary);
  width: 5%;
  height: 5%;
  color: var(--text);
  margin-left: 95%;
}

.move {
  background-color: var(--secondary);
  width: 100%;
  height: 20%;
}
.move button {
  background-color: #174708;
  width: 20%;
  height: 80%;
}
.feed__pet {
  
}
@media screen and (max-width: 600px) {
  .game {
    width: 80%;
  }
  .pet__bottom {
    width: 100px !important;
  }
  .pet__status {
    gap: 2%;
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  .game {
    width: 90%;
  }
  .pet__bottom {
    width: 100px !important;
  }
  .pet__status {
    gap: 2%;
    width: 100px;
  }
}