:root {
  --light-mode-primary-color: #b6d7ec;
  --dark-mode-primary-color: #1f2529;
}

body, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
