:root {
  --light: #b6d7ec;
  --dark: #1f2529;
}

body, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.light {
  background-color: var(--light);
}

.dark {
  background-color: var(--dark);
}

button {
  padding: 12px 8px;
  color: var(--dark);
  border: 0px;
  border-radius: 8px;
}
