:root {
  --light-secondary: rgb(31, 37, 41);
  --light-text: rgb(31, 37, 41);
  --light-button: rgb(226, 232, 238);
  --light-primary: rgb(188, 228, 255);
  --light-border: #e5e7eb;
  --light-background: rgb(246, 252, 255);
  --light-card: #FFFFFF;

  --dark-secondary: rgb(113, 128, 150);
  --dark-text: rgb(237, 242, 247);
  --dark-button: rgb(76, 86, 106);
  --dark-primary:  rgb(58, 28, 82);

  --strawberry-secondary: rgb(213, 63, 63);
  --strawberry-text: rgb(74, 31, 31);
  --strawberry-button: rgb(245, 101, 101);
  --strawberry-primary:  rgb(252, 33, 33);
  
  --peaches-secondary: rgb(214, 158, 46);
  --peaches-text: rgb(0, 0, 0);
  --peaches-button: rgb(246, 173, 85);
  --peaches-primary:  rgb(250, 147, 13);

  font-family: 'Press Start 2P';
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.title {
  text-align: left;
  font-size: 2.986rem;
  background: none;
}

body, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
    background-color: var(--background);
    color: var(--text);
}

.light {
  --primary: var(--light-primary);
  --secondary: var(--light-secondary);
  --text: var(--light-text);
  --button: var(--light-button);
  --primary: var(--light-primary);
  --background: var(--light-background);
  --border: var(--light-border)
}

.dark {
  --primary: var(--dark-primary);
  --secondary: var(--dark-secondary);
  --text: var(--dark-text);
  --button: var(--dark-button);
  --primary: var(--dark-primary);
}
.strawberry {
  --primary: var(--strawberry-primary);
  --secondary: var(--strawberry-secondary);
  --text: var(--strawberry-text);
  --button: var(--strawberry-button);
  --primary: var(--strawberry-primary);
}
.peaches {
  --primary: var(--peaches-primary);
  --secondary: var(--peaches-secondary);
  --text: var(--peaches-text);
  --button: var(--peaches-button);
  --primary: var(--peaches-primary);
}

button {
  padding: 12px 20px;
  color: var(--text);
  border-radius: 8px;
  background-color: var(--button);
  border: 0;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px var(--secondary);
}
.game {
  border: 4px solid var(--secondary);
  border-radius: 12px;
  margin: 0 auto;
  width: 20vw;
  height: 35vh;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  overflow: hidden;
}
.pet__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background) !important;
}
.pet__status {
  display: flex;
  gap: 10%;
  white-space: nowrap;
  flex-direction: column;
}
.pet__status h3 {
  background-color: var(--box);
  margin-left: 1vw;
}
.name {
  background-color: var(--box);
}
.pet__bottom {
  display: flex;
  white-space: none;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--box);
}
.pet__buttons {
  display: flex;
  gap: 10px; 
  white-space: nowrap;
  margin-right: 5px;
  flex-direction: column;
}
.pet__buttons button {
  padding: 8px 10px;
  background-color: var(--primary);
}
.pet {
  margin: auto;
  background-color: var(--box);
}

.theme__options {              
 
}
.themes h2 {
  font-size: 2.488rem;
  margin-left: 1%;
  font-weight: 300;
  text-align: center;
  margin: 3vh;
}
.themes {
  width: 40vw;
  height: 40vh;
  position: fixed;
  z-index: 10;
  top: 35%;                      
  left: 50%;                     
  transform: translate(-50%, -50%); 
  border: 2px solid var(--border);
  border-radius: 8px;
  overflow: hidden;
}
.feed {
  position: fixed;
  z-index: 10;
  top: 50%;                      
  left: 50%;                     
  transform: translate(-50%, -50%); 
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  align-items: center;
  flex-direction: column;
  border: 4px solid var(--secondary);
  border-radius: 12px;
  
}
.leave {
  background-color: var(--button);
  width: 5%;
  height: 8%;
  color: var(--text);
  margin-left: 95%;
  border-style: solid;
  border-width: 0;
}

.move {
  background-color: var(--button);
  width: 100%;
  height: 20%;
}
.move button {
  width: 20%;
  height: 80%;
  background: 0;
  font-size: 2.488rem;
  background-color: var(--primary);
}
.feed__pet {
  position: absolute;
}
.food {
  width: 5%;
  position: absolute;
}
.name {
  font-size: 2.986rem;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
  padding: 2vh;
  background-color: var(--primary) !important;
}
.nav__shop:hover {
  transform: none;
  box-shadow: none;
}
.nav {
  background: none;

}
.nav button {
  background: none;
   border: none;
   font-weight: 600;
}
.shop {
  width: 1000px;
  height: 500px;
  background-color: var(--primary);
  position: fixed;
  z-index: 10;
  top: 50%;                      
  left: 50%;                     
  transform: translate(-50%, -50%); 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.shop h2 {
  font-size: 2.488rem;
  text-align: center;
  margin: 2%;
}
.shop__item {
  font-weight: 700;
  font-size: 2.488rem;
  width: 500px;
  height: 100px;
}
.shop__items {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  gap: 1%;              
  flex-grow: 1;
  width: 100%;
}
.shop__top {
  display: flex;
}
@media screen and (max-width: 600px) {
  .game {
    width: 80%;
  }
  .pet__bottom {
    width: 200px !important;
    display: flex;
    flex-direction: row;
  }
  .pet__status {
    gap: 2%;
    width: 100px;
    
  }
}

@media screen and (max-width: 800px) {
  .game {
    width: 90%;
  }
  .pet__bottom {
    width: 100px !important;
  }
  .pet__status {
    gap: 2%;
    width: 100px;
  }
}