:root {
  --light-secondary: rgb(31, 37, 41);
  --light-text: rgb(31, 37, 41);
  --light-button: rgb(226, 232, 238);
  --light-primary: rgb(188, 228, 255);
  --light-border: rgb(48, 47, 47);
  --light-background: rgb(246, 252, 255);
  --light-card: rgb(240, 245, 247);
  --light-selected-button: rgb(199, 204, 208);

  --dark-secondary: rgb(129, 140, 248);
  --dark-text: rgb(237, 242, 247);
  --dark-button: rgb(76, 86, 106);
  --dark-primary: rgb(6, 16, 86);
  --dark-border: rgb(95, 94, 94);
  --dark-background: rgb(17, 24, 39);
  --dark-card: rgb(31, 41, 55);
  --dark-selected-button: rgb(63, 71, 88);

  --strawberry-secondary: rgb(213, 63, 63);
  --strawberry-text: rgb(44, 22, 26);
  --strawberry-button: rgb(245, 101, 101);
  --strawberry-primary: rgb(252, 33, 33);
  --strawberry-border: rgb(241, 209, 215);
  --strawberry-background: rgb(255, 248, 250);
  --strawberry-card: rgb(255, 255, 255);
  --strawberry-selected-button: rgb(220, 90, 90);

  --peaches-secondary: rgb(214, 158, 46);
  --peaches-text: rgb(44, 32, 26);
  --peaches-button: rgb(246, 173, 85);
  --peaches-primary: rgb(250, 147, 13);
  --peaches-border: rgb(239, 223, 214);
  --peaches-background: rgb(255, 249, 244);
  --peaches-card: rgb(255, 255, 255);
  --peaches-selected-button: rgb(220, 155, 76);

  font-family: "Press Start 2P";
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.title {
  text-align: left;
  font-size: 2.986rem;
  background: none;
}

body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 15px;
  background-color: var(--background);
  color: var(--text);
}

.light {
  --primary: var(--light-primary);
  --secondary: var(--light-secondary);
  --text: var(--light-text);
  --button: var(--light-button);
  --background: var(--light-background);
  --border: var(--light-border);
  --card: var(--light-card);
  --selected-button: var(--light-selected-button);
}

.dark {
  --primary: var(--dark-primary);
  --secondary: var(--dark-secondary);
  --text: var(--dark-text);
  --button: var(--dark-button);
  --background: var(--dark-background);
  --border: var(--dark-border);
  --card: var(--dark-card);
  --selected-button: var(--dark-selected-button);
}

.strawberry {
  --primary: var(--strawberry-primary);
  --secondary: var(--strawberry-secondary);
  --text: var(--strawberry-text);
  --button: var(--strawberry-button);
  --background: var(--strawberry-background);
  --border: var(--strawberry-border);
  --card: var(--strawberry-card);
  --selected-button: var(--strawberry-button);
}

.peaches {
  --primary: var(--peaches-primary);
  --secondary: var(--peaches-secondary);
  --text: var(--peaches-text);
  --button: var(--peaches-button);
  --background: var(--peaches-background);
  --border: var(--peaches-border);
  --card: var(--peaches-card);
  --selected-button: var(--peaches-selected-button);
}

button {
  padding: 12px 20px;
  color: var(--text);
  border-radius: 8px;
  background-color: var(--button);
  border: 0;
}

.pets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pet {
  border: 3px solid var(--border);
  border-radius: 12px;
  margin: 0 auto;
  width: 30vw;
  height: 50vh;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  overflow: hidden;
}
.pet__image {
  width: 30%;
  margin: 2vh auto;
  background-color: var(--card);
}
.pet__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: var(--card) !important;
}
.pet__status {
  display: flex;
  gap: 10%;
  white-space: nowrap;
  flex-direction: column;
  background-color: var(--card);
}
.pet__status h3 {
  background-color: var(--card);
  margin-left: 1vw;
}
.name {
  background-color: var(--card);
}
.pet__bottom {
  display: flex;
  white-space: none;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card);
}
.pet__buttons {
  display: flex;
  gap: 10px;
  white-space: nowrap;
  margin-right: 5px;
  flex-direction: column;
  background-color: var(--card);
}
.pet__buttons button {
  padding: 8px 10px;
  background-color: var(--button);
  border: 2px solid;
}

.theme__options {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  background-color: var(--card);
}
.themes h2 {
  font-size: 2.488rem;
  margin-left: 1%;
  font-weight: 300;
  text-align: center !important;
  margin: 3vh auto;
  background-color: var(--card);
  display: flex;
  justify-content: center;
}
.theme {
  font-weight: 700;
  width: 15vw;
  height: 5vh;
  border: 1px solid var(--border);
}
.themes {
  width: 20vw;
  height: 40vh;
  position: fixed;
  z-index: 10;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--card);
}
.themes__top {
  background-color: var(--card);
  display: flex;
  justify-content: flex-end;
}
.themes__top .leave {
  height: 4vh;
  position: absolute;
  display: flex;
}
.feed {
  position: fixed;
  background-color: var(--card);
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  align-items: center;
  flex-direction: column;
  border: 4px solid var(--secondary);
  border-radius: 12px;
}
.feed .leave {
  background-color: var(--button);
  width: 5%;
  height: 8%;
  color: var(--text);
  margin-left: 95%;
  border-style: solid;
  border-width: 0;
}

.move {
  background-color: var(--button);
  width: 100%;
  height: 20%;
}
.move button {
  width: 20%;
  height: 80%;
  background: 0;
  font-size: 2.488rem;
  background-color: var(--primary);
}
.feed_pet {
  background-color: var(--card);
}

.pet__img {
  position: absolute  ;
  background-color: var(--card);
}
.food {
  width: 5%;
  position: absolute;
}
.name {
  font-size: 2.986rem;
  text-align: center;
}
.nametaken {
  width: 30vw;
  height: 10vh;
  position: fixed;
  z-index: 15;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border);
  border-radius: 12px;
  overflow: hidden;
  display: flex;

}
.nametaken h2 {
  text-align: center;
  margin: 2vh auto;
  display: flex;
  justify-content: center;
}
.nametaken .leave {
  width: 2vw;
  height: 5vh;
}
.hunger {
  width: 30vw;
  height: 10vh;
  position: fixed;
  z-index: 15;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  background-color: var(--card);
}
.hunger h2 {
  text-align: center;
  margin: 2vh auto;
  display: flex;
  justify-content: center;
}
.hunger .leave {
  width: 2vw;
  height: 5vh;
}
.noname {
  width: 30vw;
  height: 10vh;
  position: fixed;
  z-index: 15;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border);
  border-radius: 12px;
  overflow: hidden;
  display: flex;

}
.noname h2 {
  text-align: center;
  margin: 2vh auto;
  display: flex;
  justify-content: center;
}
.noname .leave {
  width: 2vw;
  height: 5vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2vh;
  padding: 2vh;
  background-color: var(--primary) !important;
}
.nav__shop:hover {
  transform: none;
  box-shadow: none;
}
.nav {
  background: none;
}
.nav button {
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.savefiles {
  width: 20vw;
  height: 40vh;
  position: fixed;
  z-index: 10;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border);
  border-radius: 12px;
  overflow: hidden;
  background-color: var(--card);
}
.savefiles__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  flex-grow: 1;
  width: 100%;
  align-content: center;
  text-align: center;
  margin-top: 2vh;
  background-color: var(--card);
}
.savefiles__top {
  display: flex;
  justify-content: flex-end;
  background-color: var(--card);
}
.savefiles h2 {
  font-size: 2.488rem;
  text-align: center;
  margin: 2vh auto;
  display: flex;
  justify-content: center;
  background-color: var(--card);
}

.savefiles .leave {
  position: absolute;
  display: flex;
  justify-content: flex-end;
}

/* .savefile__rename {
  background: none;
  border: none;
  color: var(--text);
  font-size: 0.7rem;
  cursor: pointer;
  padding: 0;
  margin-bottom: 0.25rem;
  position: absolute;
  right: 5%;
  bottom: 50%;
} */
.savefile__select {
  background: none;
  border: none;
  color: var(--text);
  font-size: 0.7rem;
  cursor: pointer;
  padding: 0;
  margin-bottom: 0.25rem;
  position: absolute;
  right: 5%;
  bottom: 30%;
}
.savefiles__slot {
  display: flex;
  flex-direction: column; 
  margin-bottom: 1rem;
  position: relative;
  font-weight: 700;
  margin: auto;
  width: 15vw;
  height: 7vh;
  text-align: left;
  background-color: var(--button);
  border-radius: 8px;
  border: 1px solid var(--border)
}
.savefiles__slot h3 {
  background-color: var(--button);
  text-align: left;
  margin: auto 0;
  margin-left: 1vw;
}
.shop {
  width: 20vw;
  height: 40vh;
  position: fixed;
  z-index: 10;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid var(--border);
  border-radius: 12px;
  overflow: hidden;
}

.shop h2 {
  font-size: 2.488rem;
  text-align: center;
  margin: 2vh auto;
  display: flex;
  justify-content: center;
}
.shop__item {
  font-weight: 700;
  margin: auto;
  width: 10vw;
  height: 5vh;
}
.shop__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
  flex-grow: 1;
  width: 100%;
  align-content: center;
  text-align: center;
  margin-top: 2vh;
}
.shop__top {
  display: flex;
  justify-content: flex-end;
}
.buy {
  width: 15vw;
  text-align: center;
  margin: auto;
  margin-top: 3vh;
}
.shop__top .leave {
  position: absolute;
  display: flex;
  justify-content: flex-end;
}
.shop form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: auto;
  gap: 1vh;
}

.shop form label {
  text-align: center;
}
@media screen and (max-width: 600px) {
  .pet {
    width: 80%;
  }
  .pet__bottom {
    width: 200px !important;
    display: flex;
    flex-direction: row;
  }
  .pet__status {
    gap: 2%;
    width: 100px;
  }
}

@media screen and (max-width: 800px) {
  .pet {
    width: 90%;
  }
  .pet__bottom {
    width: 100px !important;
  }
  .pet__status {
    gap: 2%;
    width: 100px;
  }
}
